{% extends 'core/base/base_admin.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    {% block page_content%}
    <center>
        <h1>Caja</h1>
    </center>
    <section style="display:flex;justify-content:space-around;flex-wrap:wrap;align-content:space-around;">
        {% for table, order in combined_data %}
        <div class="card mt-3" style="width: 10rem; border-radius: 3rem;">
            <div class="card-body">
                <center>
                    <h4 class="card-title">Mesa #{{ table.nro_mesa }}</h4>
                    <p class="card-text" style="color:#85bb65"><b>${{ order.total_pedido }}</b></p>
                    {% if order %}
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ order.id }}">Ver
                        pedido</a>
                    {% else %}
                    <p>No hay pedido</p>
                    {% endif %}
                </center>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="flex-direction:column;">
                        <h3 class="modal-title">Detalle del pedido</h3><br>
                        <i class='bx bx-purchase-tag-alt' style="font-size:2.5rem; cursor:pointer;"></i><br>
                        <p>Método de pago: </p>
                        <select class="form-select  " aria-label=".form-select-lg example">
                            <option value="1">Efectivo</option>
                            <option value="2">Transferencia</option>
                            <option value="3">Tarjeta</option>
                            <option value="4">Descuento</option>
                            <option value="5">Cortesía</option>
                        </select>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h5>Realizado por: <b>{{ order.autor_usuario.username }}</b></h5>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <h5>Productos:</h5>
                            {% for product_order in order.productorder_set.all %}
                            <li>{{product_order.amount}} {{ product_order.product.name }}: ${{ product_order.product.price }}</li>
                            {% endfor %}
                            <b>Total: ${{ order.total_pedido }}</b>
                        </ul>
                    </div>
                    <div class="modal-footer" style="display:flex;justify-content: space-around">
                        <input class="form-control mb-4" type="text">
                        <input type="checkbox" name="myCheckbox">
                        <a href="{{ pdf_url }}" target="_blank">Descargar factura en PDF</a>
                        <button type="button" class="btn btn-success">Pagar</button>
                        <button type="button" class="btn btn-warning">Reversar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
    <script>
        setInterval(function () {
            window.location.reload();
        }, 25000);
    </script>
    {% endblock page_content %}
</body>

</html>