<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesero</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.min.css " rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <style type="text/css">
        #body {
            text-align: center;
            background-color: black;
            width: 100%;
            height: 100%;
            color: white;
            font-family: 'Ubuntu', sans-serif;
        }

        #devolverse {
            width: 50%;
            height: 1%;
            color: white;
            background-color: #FCB13B;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
        }

        #pedido {
            border-radius: 5rem;
            height: 3rem;
            width: 3rem;
        }

        #nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #comandar {
            border: none;
        }
    </style>
</head>

<body>
    <div id="body">
        <h1>System SJD</h1>
        <p>{{request.user.email}}</p>
        <div id="nav">
            <a data-bs-toggle="modal" data-bs-target="#modal">
                <i class='bx bx-copy-alt' style="font-size: 4rem; cursor: pointer;"></i></a>
        </div>
        <br>
        <a href="{% url 'preview_order'%}"><button id="devolverse"></button></a><br><br>
        <button type="submit" id="comandar">Comandar</button>
        <p id="orderTotal">0</p>
        {% for product in all_products %}
        <div class="col-12">
            <div class="card" style="border-radius: 5rem;">
                <div class="card-body">
                    <img class="card-img-bottom" src="{{product.img_route.url}}" style="width:7rem; height:7rem;">
                    <h5 class="card-title" style="color:black">{{product.name}}</h5>
                    <p class="card-text" style="color: black">{{product.description}}</p>
                    <p class="card-text" style="color:#85bb65">${{product.price}}</p>
                    <i class='bx bx-minus' style="color:black"
                        onclick="removeToCar({{product.id}},{{product.price}})"></i>
                    <span style="color: black;">0</span>
                    <i class='bx bx-plus' style="color:black" onclick="addToCar({{product.id}},{{product.price}})"></i>
                </div>
            </div>
        </div><br>
        {%endfor%}
        <br><br>
        <div class="modal fade" id="modal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="color:black">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="flex-direction:column;">
                    <h3 class="modal-title">Detalle del pedido</h3><br>
                    <i class='bx bx-purchase-tag-alt' style="font-size:2.5rem; cursor:pointer;"></i><br>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <h5><b>{{ order.autor_usuario.username }}</b></h5>
                </div>

                <div class="modal-body" style="text-align:left;">
                    <ul>
                        <h5>Productos:</h5>
                        {% for producto in order.productos.all %}
                        <li>{{ producto.name }}: ${{ producto.price }}</li>
                        {% endfor %}
                        <b>Total: ${{ order.total_pedido }}</b>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js "></script>
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
    })

    const table_number = localStorage.getItem("table_number");
    window.addEventListener("load", (e) => {
        console.log(table_number);
        document.getElementById("devolverse").innerText = "Mesa " + table_number;
    });
    class Product {
        constructor(itemId, price, name) {
            this.name = name;
            this.Id = itemId;
            this.price = price;
        }
    }
    class ShoppingCar {
        constructor() {
            this.products = [];
            this.total = 0;
        }
        addProduct(Product) {
            this.products.push(Product);
            this.total += Product.price;
            this.updateOrderTotal();
        }
        removeProduct(Product) {
            // Verificar si el total es mayor que el precio del producto
            if (this.total > Product.price) {
                // Restar el precio del producto al total
                this.total -= Product.price;
            } else {
                // El total es igual o menor que el precio del producto, no se resta más
                this.total = 0;
            }
            // Agregar el producto y actualizar el total del pedido
            this.products.push(Product);
            this.updateOrderTotal();
        }
        updateOrderTotal() {
            let shoppingTotal = document.getElementById("orderTotal");
            this.products.forEach((product) => {
                console.log(product.Id);
            });
            shoppingTotal.innerText = this.total;
        }
        async sendDataOrder() {
            console.log(JSON.stringify(this.products));
            fetch("{% url 'order_save' %}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: await JSON.stringify({ 'table_number': table_number, 'products': this.products }),
            }).then(response => response.json()).then(data => {
                Toast.fire({
                    icon: 'success',
                    title: 'Pedido creado con exito'
                })
            })

        }
    }
    setInterval(function () {
        // Lógica de la consulta a la base de datos
        fetch('/order/preview')
            .then(response => response.json())
            .then(data => {
                // Procesar los datos recibidos
                console.log(data);
            })
            .catch(error => {
                console.error('Error al realizar la consulta:', error);
            });
    }, 5000); // Se ejecutará cada 5000 milisegundos (5 segundos)

    let car = new ShoppingCar();
    let addToCar = (itemId, price) => {
        let product = new Product(itemId = itemId, price = price);
        car.addProduct(product);
    }
    let removeToCar = (itemId, price) => {
        let product = new Product(itemId = itemId, price = price);
        car.removeProduct(product);
    }
    let btnSendData = document.getElementById("comandar");
    btnSendData.addEventListener("click", e => {
        e.preventDefault()
        car.sendDataOrder();
    })
</script>

</html>