{% extends 'core/base/base_admin.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesero</title>
    <style type="text/css">
        #body{
            text-align: center;
            background-color: #3e5f8a;
            width: 25%;
            height: 100%;
        }
    </style>
</head>
{% block page_content %}
<body>
    <div id="body">
        <h1>Nombre en Producción</h1>
        <h3>{{request.user.username}}</h3>
        <label for="">MESA: </label>
        <input type="search" placeholder="MESA">
        <!--APARTADO PREVISUALIZACION DEL PEDIDO-->
        <a href="{% url 'products_waiter'%}"><button>IR</button></a><br><br>
        <a href="{% url 'index' %}"><button>Volver</button></a>
    </div>
</body>
{% endblock page_content %}
</html>