{%extends "registration/sign_base.html"%}
{%block content_form%}
<form id="formAuthentication" class="mb-3" method="POST">
  {%csrf_token%}
  <div class="mb-3">
    <label for="email" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="id_username" name="username" placeholder="Ingrese su nombre de usuario" autofocus required/></div>
  <div class="mb-3 form-password-toggle">
    <div class="d-flex justify-content-between">
      <label class="form-label" for="password">Contraseña</label>
    </div>
    <div class="input-group input-group-merge">
      <input type="password" id="id_password" class="form-control" name="password"
        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
        aria-describedby="password" />
    </div>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="remember-me" />
      <label style="cursor:pointer;" class="form-check-label" for="remember-me"> Recuérdame </label>
    </div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary d-grid w-100" type="submit">Ingresar</button>
  </div>
</form>
<p class="text-center">
  <a href="{%url 'password_reset'%}">
    <span>¿Olvidó su contraseña?</span><br><br>
  </a>
  <a href="{% url 'signup'%}"><span>Crea una cuenta</span></a>
</p>
{%endblock content_form%}