{% extends "registration/sign_base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    {%block content_form%}
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">{{title_form}}</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <label class="form-label" for="basic-default-message">{{field.label}}</label>
                    <div class="input-group input-group-merge">
                        {{field}}
                    </div>
                    {% endfor %}
                    <center><button type="submit" class="btn btn-primary mt-3">Guardar</button></center>
                </form>
            </div>
        </div>
    </div>
    <a href="{% url 'index' %}"><button class="btn btn-secondary">Volver</button></a>
    {% endblock content_form%}
</body>
</html>